* {
    list-style: none;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    text-align: center;
}

header {
    font-family: sans-serif;
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.2);
    top: 0;
    position: fixed;
    background-color: aliceblue;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section {
    box-sizing: border-box;
    height: 91vh;
    z-index: 0;
    padding-top: 2em;
    scroll-margin-top: 9vh; /* This property avoids the navbar to cover headlines when nav links are clicked  */
}

#logo {
    display: flex;
    align-items:center;
    padding-left: 2em;
}

#logo img {
    margin-top: 0.5em;
}

.com {
    color: blueviolet;
}

.bars {
    display: none;
    padding-right: 1em;
}

.navbar {
    display: flex;
    align-items: center;
    padding-right: 2.5em;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

.a1 {
    font-family: 'Lato' sans-serif;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.a1:hover {
    color: #0087ca;
    border-bottom: 2px solid navy;
}

.btn {
    font-size: 18px;
    color: #fff;
    background: blue;
    border-radius: 8px;
    padding: 8px;
    border-style: none;
}

.btn:hover {
    background: navy;
    color: #fff;
}

#main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.row {
    height: fit-content;
    display: flex;
}


.column1 {
    flex: 50%;
    font-size: 20px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: visible;
}

.column2 {
    flex: 50%;
}

.column2 img {
    max-width: 70%;
    min-width: 30em;
}

#main-section-title {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    text-align: center;
    overflow-x: visible;
}

.t2 {
    display: inline;
    
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    border-bottom: 3px solid blue;
}

#about {
    /* background-color: #d8dfe5; */
    background: url("images/white-paper-texture.jpg");
}

.row1 {
    display: flex;
    padding-top: 30px;
    height: 70vh;
}

.col {
    flex: 10%;
    background: #f1f1f1;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 50px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.col:hover {
    transform: translateY(-10px);
    transition-duration: 0.3s;
    z-index: 0;
    background: #d8dfe5;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.8);
}

.col img {
    width: 60%;
}

h3 {
    font-family: 'comfortaa', sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding: auto;
}

.row3 {
    display: flex;
    justify-content: center;
}

.col-test {
    background: #F1F1F1;
    margin: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-inline: 50px;
    padding-block: 20px;
    transition: background 0.5s;
    cursor: pointer;
}

.col-test:hover {
    /* box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.8); */
    /* transform: scale(1.05); */
    transition: background 0.5s;
    background: #FAD14F;
}

#contact-us {
    width: 100vw;
    background-color: #d8dfe5;
}

.contactContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5em;
}

.contactContainer .col1 {
    height: 100%;
    flex: 50%;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    /* padding-right: 50px; */
}

.contactContainer .col2 {
    flex: 50%;
    text-align: left;
    display: flex;
    justify-content: left;
    /* align-items: center; */
    /* padding-left: 50px; */
}

.contactContainer .col2 form {
    width: 50%;
    padding-inline: 1em ;
}

.contactContainer .col2 form input {
    margin-bottom: 2em;
    width: 100%;
    height: 2em;
}

.contactContainer .col2 form textarea {
    margin-bottom: 2em;
    width: 100%;
    height: 7em;
}

.contactContainer .col1 img {
    width: 50%;
}

#contact-us p {
    font-size: 20px;
}

.contactContainer .submit-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#foot {
    /* margin-top: 100px; */
    padding-bottom: 30px;
    background-color: #393939;
}

.ftr {
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    display: flex;
    padding-top: 1em;
}

.col-foot-left {
    text-align: left;
    padding-left: 20px;
    flex: 90%;
}

.col-foot-right {
    flex: 10%;
}

.fa-brands {
    padding-inline: 5px;
    color: #fff;
    transition: 0.1s;
}

.fa-brands:hover {
    /* transform: translateY(-2px); */
    transform: scale(1.6);
    transition: 0.1s;
    /* color: ; */
}

.scroll-to-top {
    position: fixed;
    color: #393E46;
	bottom:120px;
	right:20px;
    padding: 0.1em;
    visibility: hidden;
    transition: ease-in-out;
}

#sub-text{
    display: inline-block;
    color: #4F3668;
    cursor: pointer;
    z-index: 2;
    height: fit-content;

}

@media screen and (max-height: 850px) {
    section{
        height: fit-content;
    }

    .column2 img {
        width: 40%;
    }

    #about .col {
        overflow-y: scroll;
    }
}
    
@media screen and (max-width: 1240px) {

    section {
        height: fit-content;
        padding-block: 2em;
        scroll-margin-top: 10vh;
    }

    #logo {
        padding-left: 0.5em;
    }

    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #main {
        height: fit-content;
        padding-top: 12vh;
    }

    #about .row1 {
        height: fit-content;
    }

    .row,
    .row1,
    .row3 {
        flex-direction: column;
    }

    .column1 {
        padding-inline: 1em;
    }

    .column2 img {
        max-width: 70%;
        min-width: 1em;
    }

    .ftr {
        flex-direction: column;
        align-items: center;
    }

    .ftr .col-foot-left{
        font-size: 80%;
    }
    
    .col-foot-right {
        padding-block: 10px;
    }

    .bars {
        display: block;
        padding-top: 0.7em;
        cursor: pointer;
        z-index: 100;
    }

    header nav {
        margin: 0;
        position: absolute;
        left: 110%;
        width: 100%;
        height: 100vh;
        background-color: #F9F9F9;
        padding-top: 100px;
        transition: 1s;
        text-align: center;
        padding: auto;
        z-index: 1;
    }

    header nav ul {
        flex-direction: column;
        row-gap: 10px;

    }

    header nav.active {
        left: 0px;
    }

    #main .column1 {
        padding-block: 0em;
    }

    .t2 {
        left: 35%;
    }

    .contactContainer {
        flex-direction: column;
        gap: 3em;
    }

    #contact-us p {
        padding-inline: 2em;
    }

    .contactContainer .col1 {
        justify-content: center;
    }

    .contactContainer .col1 img {
        width: 70%;
    }
    
    .contactContainer .col2 {
        justify-content: center;
    }

    .contactContainer .col2 form {
        width: 70%;
    }

    .scroll-to-top {
        bottom: 4em;
    }
}