* {
    list-style: none;
}

body {
    overflow-x: hidden;
    text-align: center;
}

header {
    padding: 10px 50px;
    font-family: sans-serif;
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.2);
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: #F9F9FB;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    
}

section {
    padding-top: 40px;
}

#logo {
    display: flex;
    align-items: center;
}

.com {
    color: blueviolet;
}

.bars {
    display: none;
}

.navbar ul {
    display: flex;
    padding-top: 10px;
}

.navbar ul li {
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

.a1 {
    font-family: 'Lato' sans-serif;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.a1:hover {
    color: #0087ca;
    border-bottom: 2px solid navy;
}

.btn {
    font-size: 18px;
    color: #fff;
    background: blue;
    border-radius: 8px;
    padding: 8px;
}

.btn:hover {
    background: navy;
    color: #fff;
}


.row {
    display: flex;
    align-items: center;
    /* float: left; */
    max-width: 100vw;
}


.column1 {
    /* width: 50%; */
    flex: 50%;
    text-align: center;
    font-size: 20px;
    padding: 80px;
    padding-top: 110px;
}

.column2 {
    /* width: 50%; */
    padding-top: 10px;
    flex: 50%;
    text-align: center;
}

.column2 img {
    width: 60%;
}

#main-section-title {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    text-align: center;
}

.t2 {
    display: inline;
    
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    border-bottom: 3px solid blue;
}

.row1 {
    display: flex;
    padding-top: 30px;
}

.col {
    flex: 10%;
    background: #F9F9F9;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 50px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.col img{
    width: 60%;
}

h3 {
    font-family: 'comfortaa', sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding: auto;
}

.col:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
    z-index: 0;
}

.test {
    margin-top: 50px;
}

.row3 {
    display: flex;
}

.col-test {
    background: #F2F2F2;
    margin: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-inline: 50px;
    padding-block: 20px;
}

.col-test:hover {
    transform: scale(1.05);
    transition: 1s;
}

.contactContainer {
    display: flex;
    justify-content: center;
    gap: 250px;
    flex-wrap: wrap;
}

.contactContainer .col1 {
    margin-top: 10px;
    text-align: center;
}

.contactContainer .col2 {
    display: flex;
    text-align: left;
    max-width:min-content;
    align-items: center;
}

.contactContainer .col1 img {
    width: 40em;
}

#contact-us p {
    font-size: 20px;
}

#foot {
    margin-top: 100px;
    margin-bottom: 30px;
}

.ftr {
    color: #393E46;
    font-family: 'Lato', sans-serif;
    display: flex;
    padding-top: 1em;
}

.col-foot-left {
    text-align: left;
    padding-left: 20px;
    flex: 90%;
}

.col-foot-right {
    flex: 10%;
}

.fa-brands {
    padding-inline: 5px;
}

.fa-brands:hover {
    transform: translateY(-2px);
}

@media(max-width: 1240px) {
    .row,
    .row1,
    .row3 {
        flex-direction: column;
    }
    .ftr {
        flex-direction: column;
        text-align: center;
    }
    .col-foot-right {
        padding-block: 10px;
    }

    .bars {
        display: block;
        padding-top: 10px;
        cursor: pointer;
    }

    header nav {
        margin: 0;
        position: absolute;
        top: -350%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #F9F9F9;
        padding: 30px;
        transition: 0.5s;
        text-align: center;
        z-index: -1;
    }

    header nav ul {
        flex-direction: column;
        row-gap: 10px;

    }

    header nav.active {
        top: 70px;
    }

    .t2 {
        left: 35%;
    }
}
